menu "Display Service"

	config MEDIA_DISPLAY_SERVICE
		depends on MEDIA
		bool "Enable Display Service"
		default y

	config DISPLAY_RGB888_HIGH_BIT_SHIFT
		depends on MEDIA_DISPLAY_SERVICE
		bool "Enable Display Service"
		default n

	config RGB_FLUSH_BY_SOF
		depends on MEDIA_DISPLAY_SERVICE
		bool "Enable RGB Flush by SOF"
		default n

endmenu
